* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #27214f; */
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 15px; */
    height: 100vh;
    color: white;
}

h2 {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

/* 
    CSS REMINDER: 
        . is for classes while # is for ids 
*/
/* Left Right and Middle Box Section */
#leftbox{
    /* border: 2px solid black; */
    padding-top: 2;
    background-color: #452e4b;
    height: 100vh;
    position: sticky;
}

#middlebox{
    border-left : 2px solid #d2d3ca;
    border-right : 2px solid #d2d3ca;
    padding-top: 2%;
    padding: 0;
    background-color: #452e4b;
    height: 100vh;
    overflow-y: auto;
}

#rightbox {
    /* border: 2px solid black; */
    padding-top: 2%;
    background-color: #452e4b; 
    height: 100vh;
    position: sticky;
}

#search {
    border-color: #d2d3ca;
    background-color:#524057;
    color: white;
}

/* #search{
    background-color:#386e38;
    color:white;
} */

/* input::placeholder{
    color: #ffffff;
} */ 

/* Left Box Section */
/* Logo and Name Section */
#logonamebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#logobox {
    width: 50px;
    height: auto;
}

#titlebox {
    margin-left: 10px;
    text-align: left;
    padding-top: 10px;
}

#username, #username-r, #password, #password1 #password2, #email {
    width: 75%;
}

#loginbutton, #registerbutton {
    width: 100%;
    background-color: #182718;
    color: #ffffff;
    margin-top: 20px;
}

.loginLabels, .registerLabels {
    color: #ffffff;
    text-align: left;
    margin-top: 10px;
}


#loginform {
    justify-content: left;
}

/* Middle Box Section */
.firstbubble, .secondbubble {
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    /* padding: 2em; */
}

.firstbubble {
    background-color: #2a552a;
    color: white;
}

.secondbubble {
    background-color: white;
    color: #2a552a;
}

/* .grid-container {
    display: grid;
    height: 400px;
    align-content: space-evenly;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
} */

#registrationform {
    justify-content: left;
}

#registrationbutton {
    color: white;
    background-color: #2a552a;
    margin-top: 10px;
}

#backbutton {
    float: right;
    color: white;
    background-color: #2a552a;
    margin-top: -37px;
    margin-right: 7px;
}

/* Home Page Section */
#homebutton, #yourpagebutton, #logoutbutton {
    width: 100%;
    /* border: 3px solid #d2d3ca; */
    border-radius: 20px;
    /* background-color: #483d8b; */
    color: #ffffff;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#homebutton:hover, #yourpagebutton:hover, #logoutbutton:hover {
    background-color: #483d8b;
    /* border-color: ; */
}

#createstackbutton {
    width: 75%;
    border: 2px solid #d2d3ca;
    border-radius: 20px;
    background-color: #0066c8;
    color: #ffffff;
    margin-top: 50px;
    /* margin: auto; */
    justify-content: center;
}

.leftbarbuttonscontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.homebuttoncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timelinebutton, #followingbutton {
    border: 2px solid black;
    color: white;
    background-color: #2a552a;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
}


/* User Profile Section */
#userprofile {
    overflow-wrap: break-word;
}

.profilepicturebox {
    margin-top: -40px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 50%;
    
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.profilepicture {
    width: 100%;
    height: auto;
}

#profileheaderbox {
    background-color: gray;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

#profileheader {
    width: 100%;
    height: auto;
}

#profilename, #bio {
    color: white;
}

#userfollowingcount, #userfollowerscount, #userstackscount, #timejoined {
    color: white;
    font-weight: bold;
}

#userfollowing, #userfollowers, #userstacks, #timejoinedbox {
    color: #D6E6F7;
}

#userheader {
    padding-left: 1em;
    padding-right: 1em;
}

#stacksbox {
    margin-top: 1em;
    border-bottom: 1px solid #d2d3ca;
    text-align: center;
    color: white;
}

#headerpic {
    height: 100%;
    width: 100%;
}

/* Search */
.searchheading {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #d2d3ca;
    font-size: x-large;
}

.searchpagebar{
    margin-top: 15px;
}

.searchresultsstring {
    text-align: center;
    color: #ffffff;
}

/* searched user */
.searcheduser {
    /* margin-top: 0.25em; */
    margin-bottom: 0.25em;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    
    display: flex;
    align-items: center;
}

.searcheduser:hover {
    background-color: #67506d;
    /* border-radius: 50px; */
}

.searchedprofilepicturebox {
    
    background-color: gray;
    border: 3px solid black;
    border-radius: 50%;
    
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    
    /* display: flex; */
}

.searchedprofilepicture {
    width: 100%;
    height: auto;
}

.searchedusername {
    margin-left: 0.5em;
}

/* searched stacks */
.searchedstack {
    padding-left: 1em;
    padding-right: 1em;
    border-top: 1px solid #d1d1cc;
    border-bottom: 1px solid #d1d1cc;
}

.searchedstackuser {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.searchedstack:hover {
    background-color: #67506d;
}

.searchedstackdate {
    /* float: right; */
    font-size: small;
    padding-left: 0.5em;
}

.searchedstackcount {
    border-top: 1px solid #d1d1cc;
    border-bottom: 1px solid #d1d1cc;

    .likecount {
        font-weight: bold;
    }
}

.searchedstackbuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    div {
        padding-left: 0.5em;
        padding-right: 0.5em;

        margin-left: 1em;
        margin-right: 1em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    div:hover {
        background-color: #7f6885;
        border-radius: 25px;
    }
}